name: CI/CD

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  build-test-docker:
    runs-on: ubuntu-latest
    env:
      FLASK_ENV: development
      PORT: 8080
      API_KEY: ${{ secrets.API_KEY}}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirments.txt

      - name: Run unit tests
        run: |
          pip install pytest
          pytest -q

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{secrets.DOCKERHUB_USERNAME}}
          password: ${{secrets.DOCKERHUB_TOKEN}}

      - name: Build docker image
        run: docker build -t test-project:latest

      - name: Push Docker image
        run: |
          docker tag test-project:latest ${{secrets.DOCKERHUB_USERNAME}}/test-project:latest
          docker push ${{secrets.DOCKERHUB_USERNAME}}/test-project:latest